
<div class="login-screen">
  <div class="login-container">
    <div class="login-form">
      <h1>Welcome Back</h1>
      <p>Please sign in to your account</p>
      
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="email" 
            id="email" 
            name="email"
            [(ngModel)]="loginData.email"
            required 
            class="form-control"
            placeholder="Enter your email">
        </div>
        
        <div class="form-group">
          <label for="password">Password</label>
          <input 
            type="password" 
            id="password" 
            name="password"
            [(ngModel)]="loginData.password"
            required 
            class="form-control"
            placeholder="Enter your password">
        </div>
        
        <div class="form-options">
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe">
            Remember me
          </label>
          <a href="#" class="forgot-password">Forgot password?</a>
        </div>
        
        <button type="submit" class="btn btn-primary btn-full" [disabled]="!loginForm.form.valid">
          Sign In
        </button>
      </form>
      
      <div class="login-footer">
        <p>Don't have an account? <a href="#" class="signup-link">Sign up</a></p>
      </div>
    </div>
  </div>
</div>
